<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            Sports Store
        </a>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("List", "Product")">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Category <span class="caret"></span></a>
                    @Html.Action("DropDownMenu", "Nav")
                </li>
                <li><a href="@Url.Action("Index", "Admin")">Admin Panel</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.Action("Summary", "Cart")
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs">
                @Html.Action("Summary", "Cart")
            </li>
        </ul>
    </div>
</nav>
